<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
</head>

<body>
    <!-- Include ejs -->
    <% include layout %>
        <div class="container">
            <h2 class="text-center">เขียนบทความ</h2>
            <%- messages() %>

                <% if(locals.errors) { %>
                    <ul class="alert alert-warning">
                        <% Object.values(errors).forEach(function(error){ %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>
                        <form action="/blogs/add" method="post">
                            <div class="mb-3">
                                <label for="">ชื่อบทความ</label>
                                <input type="text" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="">รายละเอียด</label>
                                <!-- <textarea class="form-control" name="description" id="editor" cols="80" rows="8"></textarea> -->
                                <textarea id="editor" name="description">
                    </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="">ผู้แต่ง</label>
                                <input type="text" name="author" class="form-control">
                            </div>

                            <input type="submit" name="" value="บันทึก" class="btn btn-primary">
                        </form>
        </div>



        <script>

            // document.getElementById("messages").classList.add('alert', 'alert-success')


            ClassicEditor
                .create(document.querySelector('#editor'))
                .catch(error => {
                    console.error(error);
                });


        </script>
</body>

</html>